@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .screen {
        @apply relative mx-auto min-h-[100dvh] w-full max-w-[500px];
    }

    .gradient-main {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 12%, #5da5ff 75%);
    }

    .gradient-col {
        background-image: linear-gradient(0deg, rgb(0, 0, 0, 0.7) 24%, rgba(233, 233, 233, 0) 100%);
    }

    .gradient-col-reverse {
        background-image: linear-gradient(
            180deg,
            rgb(0, 0, 0, 0.7) 24%,
            rgba(233, 233, 233, 0) 100%
        );
    }

    .text-dark-400 {
        color: var(--dark-400);
    }
    .text-dark-300 {
        color: var(--dark-300);
    }
    .text-dark-200 {
        color: var(--dark-200);
    }
    .text-dark-100 {
        color: var(--dark-100);
    }

    .bg-dark-400 {
        background-color: var(--dark-400);
    }
    .bg-dark-300 {
        background-color: var(--dark-300);
    }
    .bg-dark-200 {
        background-color: var(--dark-200);
    }
    .bg-dark-100 {
        background-color: var(--dark-100);
    }
    .bg-dark-100\/50 {
        background-color: rgba(239, 239, 239, 0.5);
    }

    :root {
        --background: #fff;
        --foreground: #000;

        --card: #fff;
        --card-foreground: #000;

        --popover: #fff;
        --popover-foreground: #000;

        --primary: #0675ff;
        --primary-foreground: #fff;

        --secondary: #fff;
        --secondary-foreground: #0675ff;

        --muted: #efefef;
        --muted-foreground: #9fa0a0;

        --accent: #efefef;
        --accent-foreground: #18181b;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: #cacaca;
        --input: #efefef;
        --ring: #0675ff;

        --radius: 0.5rem;

        --dark-400: #727171;
        --dark-300: #9fa0a0;
        --dark-200: #c9caca;
        --dark-100: #efefef;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
